if KSPLIT2_LEFT

config ZMK_KEYBOARD_NAME
	default "ksplit2"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

endif

if SHIELD_KSPLIT2_RIGHT

config ZMK_KEYBOARD_NAME
	default "ksplit2 Right"

endif

if SHIELD_KSPLIT2_LEFT || SHIELD_KSPLIT2_RIGHT

config ZMK_SPLIT
	default y
	
endif
