/*
Test


*/



#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEFAULT 0
#define NUM     1
#define NAV     2
#define SYS     3




/ {

   

    keymap {
        compatible = "zmk,keymap";

        DEFAULT { 
            bindings = <
                &kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T         &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
                &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G         &kp H     &kp J     &kp K     &kp L     &kp B     &kp DEL
                          &kp Z     &kp X     &kp C     &kp V                             &kp M     &kp N     &kp COMMA &kp DOT
                                              &kp LALT                                            &kp LGUI
                                        &kp LSHFT   &kp LCTRL                                 &kp SPACE   &kp ENTER
                                        &mo NUM     &mo NAV                                   &none       &none
            >;
        };

        NUM { 
            bindings = <
                &kp STAR  &kp KP_DOT &kp N7    &kp N8    &kp N9    &kp PLUS     &kp GRAVE &kp LBKT     &kp RBKT     &kp MINUS    &kp EQUAL    &kp BSPC
                &kp SLASH &kp N0     &kp N4    &kp N5    &kp N6    &kp MINUS    &kp CAPS  &kp LPAR     &kp RPAR     &kp SEMI     &kp SQT      &kp DEL
                          &kp ENTER  &kp N1    &kp N2    &kp N3                           &kp EXCL     &none        &kp FSLH     &kp NUBS
                                               &trans                                               &trans
                                         &trans   &trans                                        &trans   &trans
                                         &trans   &mo SYS                                       &trans   &trans
            >;
        };

         NAV { 
            bindings = <
                &kp BSPC  &none      &none     &none     &none     &kp ENTER     &none     &none     &none     &none     &none     &kp BSPC
                &kp DEL   &kp PG_UP  &kp LEFT  &kp UP    &kp RIGHT &kp PSCRN     &none     &none     &none     &none     &none     &kp DEL
                          &kp PG_DN  &kp HOME  &kp DOWN  &kp END                           &none     &none     &none     &none
                                               &trans                                               &trans
                                          &trans   &trans                                       &trans   &trans
                                          &mo SYS  &trans                                       &trans   &trans
            >; 
        };

         SYS { 
            bindings = <
                &&t BT_CLR &bt BT_SEL 3 &bt BT_SEL 2 &bt BT_SEL 1  &bt BT_SEL 0  &none           &none     &none     &none     &none     &none     &kp BSPC
                &none      &none        &kp C_MUTE   &kp C_VOL_UP  &kp C_PP      &none           &none     &none     &none     &none     &none     &kp DEL
                           &none        &kp C_PREV   &kp C_VOL_DN  &kp C_NEXT                              &none     &none     &none     &none
                                               &trans                                                    &trans
                                          &trans   &trans                                            &trans   &trans
                                          &trans  &trans                                             &trans   &trans
            >; 
        };
    };
 };
