//                &kp       &kp       &kp       &kp       &kp       &kp         &kp       &kp       &kp       &kp       &kp       &kp 
//                &kp       &kp       &kp       &kp       &kp       &kp         &kp       &kp       &kp       &kp       &kp       &kp 
//                          &kp       &kp       &kp       &kp                             &kp       &kp       &kp       &kp    
//                          &kp       &kp       &kp       &kp       &kp         &kp       &kp       &kp       &kp       &kp     

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0

            bindings = <
                &kp ESC   &kp Q     &kp W     &kp E     &kp R     &kp T       &kp Y     &kp U     &kp I     &kp O     &kp P     &kp BSPC
                &kp TAB   &kp A     &kp S     &kp D     &kp F     &kp G       &kp H     &kp J     &kp K     &kp L     &kp B     &kp DEL
                          &kp Z     &kp X     &kp C     &kp V                           &kp M     &kp N     &kp COMMA &kp DOT
                          &kp LR1   &kp LSHFT &kp L_ALT &kp LCTRL &kp LR2     &kp ENTER &kp SPACE &kp LGUI  &kp LR3   &kp LR4
            >;
        };
    };
 };
